* {
    box-sizing: border-box;
    padding: 0;
    margin: auto 0;
}
.page-container {
    font-family: Helvetica;  
    margin: auto 2rem;
    width: 95%;
    display:flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
}

.header {
    margin: 2rem 4rem .5rem 0;
    width: 100%;
}
.header-title {
    width: 100%;
    padding-left: 2rem;
    margin-bottom: -2px;
    font-size: 62.7px;
    background-color: #0b1d00;
    color: rgb(224, 225, 224);
}

.navigation {
    display: flex;
    width: 100%;
    margin: 0;  
    justify-content: space-evenly; 
    /* position: relative;     */
}
.nav-list {
    display: flex;
    /* justify-content: space-evenly; */
}
.nav-item {
    border-radius: 15px;   
    border-width: 1px;
    color: #30190D;
    margin: 5px 5px;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    font-family: Open Sans;
    font-size: 20px;
    background: linear-gradient(rgba(239, 239, 244, 0.35), rgba(106, 106, 108, 0.45)),
    no-repeat center/cover rgb(244, 242, 242);
}

.profile {
    height: 600px;
    width: 500px;
    background: url("images/dan-open.jpg") center/cover no-repeat;
}
.profile:hover {
    background: linear-gradient(rgba(90, 46, 17, 0.1), rgba(209, 34, 4, 0.1)), url("images/dan-close.jpg") center/cover no-repeat;
}

.info-name {
    font-size: 40px;
}
.info-me {
    margin-bottom: 2rem;
}
.projects-main {
    margin-bottom: 2rem;
}
.projects-title {
    font-size: 40px;
}
.project-name {
    margin: 1rem 0;
}
.project-image {
    margin-top: 1rem;
    min-width: 300px;
    max-width: 60%
}

.resume-header {
    font-size: 40px;
}
.contact-info {
    font-style: italic;
}
.resume-objective{
    margin: 1rem 0;
}
.skills-title{
    font-size: 20px;
    margin-bottom: .5rem;
}
.skill-set {
    
}
.skill {
    display: inline;
    margin-right: 1rem;
    margin-bottom: .5rem;

}
.job-location {
    margin: 1rem 1rem 1rem 0;
}
.work-experience-title{
    font-size: 20px;
    margin: 1rem 0 .5rem 0;
}
.job-title {
    font-style: italic;
    margin: 1rem 0 0 0;
}
.job-description {
    margin: .5rem 0 0 0;
}
.job-specifics {
    margin: .5rem 0 0 2rem;
}
.resume-education{
    margin-bottom: 3rem;

}
.education-title{
    font-size: 20px;
    margin: 1rem 1rem 1rem 0;
}
.education-name{
    margin: .5rem 0 0 0;
}


@media screen and (min-width: 768px) {
    .my-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .my-name{
        font-size: 30px;
        width: 80%;
        align-self: center;
    }
    .contact-info{
        align-self: flex-start;
    }
    
    
    .job-name-web{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .education{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .education-name{
        width: 20%;
    }
    .education-date{
        width: 30%;
    }
    .education-degree{
        width: 40%;
    }

}
 